@model int

<div class="container row d-flex justify-content-center">
    <div class="col-5 text-center " style="margin-top:7rem">
        <div class="card" style="border-radius:0;">
            <div class="card-header text-primary ">
                <i class="bi bi-check-circle-fill text-success me-2 "></i>OrderPlaced Successfully
            </div>
            <div class="card-body text-center mt-5 mb-5">
                <div>
                    Your Order Number is : @Model 
                </div>
            </div>
            
        </div>

    </div>
    <div class="col-12 text-center text-success">
        <br />
        Your Order has been placed successfully!<br />
    </div>
</div>